@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Ubuntu", sans-serif;
  background: #FFFAEB;
}

h1 {
  color: #427A61;
  font-weight: 700;
  font-size: 5rem;
}

p {
  color: #131313;
  font-size: 1.9rem;
  line-height: 1.7;
}

input {
  color: #131313;
  font-size: 1.9rem;
  line-height: 1.7;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  border: none;
  background: none;
}

input:focus {
  outline: none;
}

input::selection {
  background: #bbdccd;
}

button {
  font-family: "Ubuntu", sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 85% auto;
  margin: 10rem 0;
}

.container {
  grid-area: 1/1/2/13;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container > * {
  margin-bottom: 2.5rem;
}
.container p {
  text-align: center;
}
.container .italic {
  font-style: italic;
}
.container .output-container {
  width: 60%;
  height: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.2rem solid #427A61;
  border-radius: 1rem;
  background: white;
}
.container .output-container > input {
  transition: 0.35s ease-in-out;
}
.container .modal {
  height: 100%;
}
.container .modal p {
  position: absolute;
  font-size: 1.5rem;
  margin-left: 1rem;
  transition: 0.35s ease-in-out;
}
.container .modal .hidden {
  display: none;
}
.container .output-container > input:hover {
  color: #427A61;
  transform: scale(105%);
  transition: 0.35s ease-in-out;
}
.container .keysmash-output {
  width: 100%;
  height: 100%;
  font-size: 3rem;
  line-height: 2;
}
.container .btn {
  font-size: 1.8rem;
  width: 30%;
  height: 5rem;
  border: 0.2rem solid #427A61;
  border-radius: 1rem;
  padding: 0;
  background: #427A61;
  color: #FFFAEB;
  transition: 0.35s ease-in-out;
}
.container .btn:hover {
  background: white;
  color: #427A61;
  transition: 0.35s ease-in-out;
}

footer {
  grid-area: 2/1/3/13;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5rem;
}
footer .footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .footer-container p {
  font-size: 1.5rem;
}
footer .footer-container > p:last-child {
  margin-top: 2.5rem;
}
footer .links {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .links > div {
  height: 8rem;
  width: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 2rem;
}
footer .links a, footer .links img {
  height: 5rem;
  width: 5rem;
  margin: 0 auto;
}/*# sourceMappingURL=main.css.map */